.logo {
    width: auto;
    height: 50%;
    margin-top: 14px;
}
.delete-bottom-margin{
  margin-bottom: 0px;
}
.img-adjustment{
    height: 285px;
    overflow: hidden;
}
.register-img-adjustment{
    top: -50px !important;
}
.nav{
    background-color: rgb(0, 10, 162);
}
button, .btn-large{
    background-color: rgb(0, 10, 178) !important;
}

.large-icon{
    font-size: 300%;
    text-align: center;
}
.my-fixed-action-btn {
    position: fixed;
    right: 420px;
    top: 90px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}
.bar{

    margin-top: 12px;
    height: 18px;

}