{% extends "layout.html" %}
{% block title %}Promises{% endblock %}
{% block content %}
    <script> $(document).ready(function () {
        $('.modal').modal();
    });</script>
    <div class="row">
        <div class="col m10">
            <div class="row" style="margin-bottom: 0px">
                <div class="col m7" style="font-size: 3rem;">Current Promises</div>
                <div class="col  blue-grey-text" style="margin-top: 35px;font-weight: 500">Credit Score: 320</div>
            </div>
        </div>
    </div>

    {% if len==0 %}
        There is no promise currently! Please add your promises by the button above.
    {% else %}
        {% for promise in promises %}
            <div class="row">
            <div class="col s12 m9">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title"> {{ promise['title'] }}</span>
                        <p>{{ promise['promise'] }}</p>
                    </div>
                    <div class="card-action" style="padding-bottom: 1px">
                        <div class="row barwrapper">
                            <div class="progress col m10 bar">
                                <div class="determinate" style="width: {{ promise['percent'] }}%"></div>
                            </div>
                            {% if promise['percent'] != 100 %}
                                <div class="col m2" style="text-align: center">
                                <i class="material-icons large-icon indigo-text">access_time</i>
                            {% else %}
                                <div class="col m2" style="text-align: center">
                                <i class="material-icons large-icon green-text">check</i>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}</div>
    <div class="my-fixed-action-btn">
        <a class="btn blue darken-3 waves-effect waves-light modal-trigger" href="#modal1">
            <i class="large material-icons">add</i>Make a promise
        </a>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>Make Your Promise</h5>
            <form id="promise_form" action="{{ url_for('create_promise') }}" method=post enctype="multipart/form-data">
                <div class="input-field ">
                    <i class="material-icons prefix">bookmark</i>
                    <input type="text" name="title" id="id_title" value=""
                           size="50"/>
                    <label for="id_title">Promise</label>
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">mode_comment</i>
                    <input type="text" name="promise" id="id_promise" value=""
                           size="100"/>
                    <label for="id_promise">Result</label>
                </div>
                <button class="btn waves-effect waves-light">Submit</button>
            </form>
        </div>
        <div class="modal-footer" id="modal_footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
{% endblock %}