{% extends "layout.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center blue-grey-text" style="font-size: 7em">Promise</h1>
            <div class="row center">
                <h5 class="header col s12 light">Your little helper to build your credit score.</h5>
            </div>
            <div class="row center">
                <a href="{{ url_for('promises') }}" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Health Check</h5>

            <p class="light">A preliminary financial health check will detect opportunities to free up monetary resources to kick start your promise journey.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Promises</h5>

            <p class="light">Register your bank account, check out the recommended promises and start setting your goals.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Credit Score</h5>

            <p class="light">Keep track of your success and reassess your credit score.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}