{% extends "layout.html" %}
{% block content %}
    {% if 'token' in session %}
        <h4>you've already logged in!</h4>
    {% else %}
        <div class="section">
          <div class="row">
            <div class="col s8 offset-s2">
              <div class="card hoverable">
                <div class="card-image img-adjustment">
                  <img class="register-img-adjustment" src="static/images/register.jpeg">
                  <span class="card-title">Register</span>
                </div>
                <div class="card-content">
                    <div class="row delete-bottom-margin">
                    <form id="user_form" class="col s12" action="{{ url_for('register') }}" method=post enctype="multipart/form-data">
                      <div class="row delete-bottom-margin">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                          <input type="email" name="email" id="id_email" value="" size="50"/>
                          <label for="id_email">Email</label>
                        </div>
                        <div class="input-field col s12">
                          <i class="material-icons prefix">vpn_key</i>
                          <input type="password" name="password" id="id_password" value="" size="50"/>
                          <label for="id_password">Password</label>
                        </div>
                        <div class="center-align">
                        <button class="btn-large waves-effect">Register</button>
                        </div>
                      </div>
                    </form>
          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}